<div class="container">
  <div class="social-buttons">
    <div class="button facebook">
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
      </div>
      <span class="label">Facebook</span>
    </div>

    <div class="button twitter">
      <div class="icon">
        <i class="fab fa-x-twitter"></i>
      </div>
      <span class="label">X</span>
    </div>

    <div class="button linkedin">
      <div class="icon">
        <i class="fab fa-linkedin-in"></i>
      </div>
      <span class="label">LinkedIn</span>
    </div>
  </div>
</div>

  <div class="menu">
    <li class="li"><a routerLink="/feed">Feed</a></li>
    <li class="li"><a routerLink="/src/app/components/explorepage">Explore</a></li>
    <li class="li"><a routerLink="/src/app/components/">Favourites</a></li>
    <li class="li"><a routerLink="">Settings</a></li>
  </div>
  <div class="menutwo">
    <li class="li"><a routerLink="">Explore</a></li>
        <li class="li"><a routerLink="">Feedback</a></li>
  </div>

  <p class="p1">© 2025 copyright Brandit.com</p>


