
     <div class="container about-section">
        <h2 class="text-center fw-bold">About <span>Us</span></h2>


        <div class="row align-items-center mt-5">
          <div class="col-md-6 text-center">
            <img src="/images/about.jpg" alt="About Us Image" class="about-img">
          </div>

          <div class="col-md-6">
            <h4 class="fw-bold">What is BrandIt ?</h4>
            <p>
                Our website serves as a bridge between local stores and customers, offering an effective platform for marketing businesses and making it easier for consumers to find and connect with these stores.            </p>
            <a href="#" class="btn btn-custom">Read More</a>
          </div>
        </div>
      </div>
