<div class="container about-section">
  <h2 class="text-center fw-bold">About <span>Us</span></h2>

  <div class="row align-items-center mt-5">
    <div class="col-md-6 text-center">
      <img src="https://img.freepik.com/free-vector/teamwork-concept-landing-page_52683-20165.jpg" alt="About Us Image" class="about-img">
    </div>

    <div class="col-md-6">
      <h4 class="fw-bold">What is BrandIt?</h4>

      <a href="#why-brandit" class="btn btn-custom" id="scroll-button">Read More</a>
    </div>
  </div>
</div>

<div id="why-brandit" class="container mt-5 mb-5">
  <h2 class="text-center fw-bold mb-5">Why to Choose Brandit? <span>BrandIt?</span></h2>


  <div class="row align-items-center mb-5">
    <div class="col-md-6 text-center">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/025/325/343/original/office-worker-eureka-idea-animation-animated-cartoon-employee-with-light-bulb-isolated-colour-flat-line-2d-character-4k-footage-white-background-alpha-channel-transparency-for-web-design-video.jpg" alt="Easy to Use" class="about-img">
    </div>
    <div class="col-md-6">
      <h4 class="fw-bold">Easy to Use</h4>
      <p>Our platform is designed with simplicity in mind. Whether you are tech-savvy or not, you can easily navigate, post your products, and reach a wide range of customers.</p>
    </div>
  </div>

  <div class="row align-items-center mb-5 flex-md-row-reverse">
    <div class="col-md-6 text-center">
      <img src="https://img.freepik.com/free-vector/marketing-promo-clipart-illustrated_52683-74351.jpg" alt="Cost Effective" class="about-img">
    </div>
    <div class="col-md-6">
      <h4 class="fw-bold">Easy marketing</h4>
      <p>Allows you to display your products to thousands of customers.</p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <img src="https://cdn.prod.website-files.com/6425b3d54d3c3834d11bef95/650ae8425645125835a7d0f0_state-of-employee-engagement-2019-featured-1.webp" alt="Engagement" class="about-img">
    </div>
    <div class="col-md-6">
      <h4 class="fw-bold">Engagement</h4>
      <p>Interact with the audience through reactions, comments, and shares.</p>
    </div>
  </div>
</div>
