<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <a class="navbar-brand" href="#">
      <img src="images/north.png" alt="Brand Logo" height="30">
      Marketing
    </a>

    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-house-door"></i> Home</a> <!-- Feed/Home icon -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-person-bounding-box"></i> My Network</a> <!-- Network icon -->
        </li>
        <!-- Changed Jobs tab to Reels -->
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-film"></i> Reels</a> <!-- Reels icon -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-chat-dots"></i> Messaging</a> <!-- Messaging icon -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-bell"></i> Notifications</a> <!-- Notifications icon -->
        </li>
      </ul>

      <!-- Search Bar -->
      <div class="search-bar ms-3">
        <input type="text" class="form-control" placeholder="Search for anything">
      </div>



      <div class="navbar-right">
        <div class="online">
          <img src="images/user-1.png" class="nav-profile-img" (click)="toggleMenu()">
        </div>
      </div>


<!-- قائمة الملف الشخصي -->
<div class="profile-menu-wrap " #profileMenu>
  <div class="profile-menu rounded rounded-4  ">
    <div class="user-info ">
      <img src="images/user-1.png">
      <div>
        <h4>John Doe</h4>
        <a href="#" >See your profile</a>
      </div>
    </div>
    <hr>
    <a href="#" class="profile-menu-link align-items-center justify-content-center">
      <img src="images/feedback.png">
      <p >Give Feedback</p>
      <span>></span>
    </a>
    <a href="#" class="profile-menu-link">
      <img src="images/setting.png">
      <p>Settings & Privacy</p>
      <span>></span>
    </a>
    <a href="#" class="profile-menu-link">
      <img src="images/help.png">
      <p>Help & Support</p>
      <span>></span>
    </a>
    <a href="#" class="profile-menu-link">
      <img src="images/display.png">
      <p>Display & Accessibility</p>
      <span>></span>
    </a>
    <a href="#" class="profile-menu-link">
      <img src="images/logout.png">
      <p>Logout</p>
      <span>></span>
    </a>
  </div>
</div>


      </div>
    </div>
</nav>

