body {
    background-color: #f8f9fa;
}

.account-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* cursor: pointer; */
}

.account-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.imgtype{
    width: 200px;
    height: 200px;
}
.botton{
  

    background-color: transparent;
    border: 2px solid #ac0c82;
    color: #ac0c82;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.botton:hover{
    background-color: #ac0c82;
    color: white;
}
