<div class="container  ms-5 pe-0 m-auto " style="display: flex; width: 100%;">
  <app-trending-sidebar class="col-md-2 col-20 position-relative mt-4 d-flex ms-0 me-6" style="flex: 1; margin-right: 10%;"></app-trending-sidebar>

  <div class="notifications col-md-2 col-12 scrollable-content d-flex" style="flex: 4; ">
    <h2 class="header-not">Notifications</h2>
    <div class="notification" >
      <div class="avatar">
          <img src="images/user-1.png" alt="Avatar">
      </div>
      <div class="content">
          <h4>John Doe <span class="timestamp">- Just Now</span></h4>
          <p>Liked your post "How to Start Marketing</p>
      </div>

  </div>

  <div class="notification" style="background-color: #ddd;">
      <div class="avatar">
          <img src="images/user-2.png" alt="Avatar">
      </div>
      <div class="content">
          <h4>Jane Smith <span class="timestamp">- 2 hours ago</span></h4>
          <p>Commented on your photo</p>
      </div>

  </div>

  <div class="notification">
      <div class="avatar">
          <img src="images/user-3.png" alt="Avatar">
      </div>
      <div class="content">
          <h4>Alex Johnson <span class="timestamp">- 5 hours ago</span></h4>
          <p>Shared your Post "Top 10 Marketing Tricks"</p>
      </div>

  </div>

  <div class="notification" >
    <div class="avatar" style="background-color: #ddd;">
        <img src="images/user-4.png" alt="Avatar">
    </div>
    <div class="content">
        <h4>Daimon Salvatore <span class="timestamp">- 7 hours ago </span></h4>
        <p>mentioned you in a comment</p>

    </div>

</div>
<div class="notification" >
  <div class="avatar">
      <img src="images/user-1.png" alt="Avatar">
  </div>
  <div class="content">
      <h4>Elena gelbert <span class="timestamp">- 1 day ago</span></h4>
      <p>Shared a new post"</p>
  </div>

</div>
<div class="notification" style="background-color: #ddd;">
<div class="avatar">
    <img src="images/user-1.png" alt="Avatar">
</div>
<div class="content">
    <h4> Kelwa<span class="timestamp">- 1 day ago</span></h4>
    <p>Liked Your comment"</p>
</div>

</div>
<div class="notification">
<div class="avatar">
    <img src="images/user-1.png" alt="Avatar">
</div>

<div class="content">
    <h4>Stefan Salvatore<span class="timestamp">- 3 day ago</span></h4>
    <p>Sent you a friend request"</p>
</div>

</div>
<div class="notification">
<div class="avatar">
    <img src="images/user-1.png" alt="Avatar">
</div>
<div class="content">
    <h4>Shahd Mostafa<span class="timestamp">- 4 day ago</span></h4>
    <p>Reacted To a post you shared"</p>
</div>

</div>
<div class="notification">
<div class="avatar">
    <img src="images/user-1.png" alt="Avatar">
</div>
<div class="content">
    <h4>Rick Grimes <span class="timestamp">- Last week </span></h4>
    <p>Shared your post"</p>
</div>

</div>
  </div>
</div>
