<div class="post-card">
  <div class="post-header">
    <img src="https://i.pinimg.com/736x/71/f9/b1/71f9b1438c722091cbf4d1745a986c83.jpg" alt="Avatar" class="avatar">
    <div class="header-info">
      <h2>Shahd Mostafa</h2>
      <p>Marketer | Public Speaker | Influencer</p>
      <p>1W • 🌍</p>
    </div>
  </div>

  <img src="https://i.pinimg.com/736x/36/d9/a2/36d9a22e85ffa3d9aaac33f78a98153a.jpg" alt="Post image" class="post-image">

  <div class="post-text">
    🚀 هل تريد أن تجعل علامتك التجارية حديث الجميع؟!
    هل لديك منتج أو خدمة رائعة ولكنك لا تعرف كيف تصل إلى جمهورك المستهدف؟ 🤔
    ...التسويق هو المفتاح السحري لنجاح أي مشروع
    <a class="see-more">See more</a>
  </div>
</div>

<div class="post-card">
  <div class="post-header">
    <img src="https://i.pinimg.com/736x/8d/ff/49/8dff49985d0d8afa53751d9ba8907aed.jpg" alt="Avatar" class="avatar">
    <div class="header-info">
      <h2>Ali Ahmed</h2>
      <p>Web Developer | Tech Enthusiast</p>
      <p>3D • 🌍</p>
    </div>
  </div>

  <img src="https://i.pinimg.com/736x/24/c4/57/24c45797c649b8f0c7b183be03a5b128.jpg" alt="Post image" class="post-image">

  <div class="post-text">
    💻 هل ترغب في تعلم البرمجة؟؟
    إذا كنت مستعدًا لبناء مشاريعك الخاصة وتطوير مهاراتك التقنية، فإن البرمجة هي المستقبل! 🔥
    #تعلم #برمجة #مستقبل
    <a class="see-more">See more</a>
  </div>
</div>

<div class="post-card">
  <div class="post-header">
    <img src="https://i.pinimg.com/736x/75/3c/3a/753c3abff1e7f357d7bd56aa468ee7e2.jpg" alt="Avatar" class="avatar">
    <div class="header-info">
      <h2>Sarah Mohammed</h2>
      <p>Photographer | Creative Director</p>
      <p>2D • 🌍</p>
    </div>
  </div>

  <img src="https://i.pinimg.com/736x/16/7c/02/167c027225b5b4ecc20919ab6e2165d3.jpg" alt="Post image" class="post-image">

  <div class="post-text">
    📸 هل أنت مستعد لتحسين مهاراتك في التصوير الفوتوغرافي؟
    تعلم تقنيات جديدة واكتشف كيفية التقاط اللحظات الساحرة! 🌟
    #تصوير #ابداع #مهنة
    <a class="see-more">See more</a>
  </div>
</div>

<div class="post-card">
  <div class="post-header">
    <img src="https://i.pinimg.com/736x/8d/ff/49/8dff49985d0d8afa53751d9ba8907aed.jpg" alt="Avatar" class="avatar">
    <div class="header-info">
      <h2>John Doe</h2>
      <p>Entrepreneur | Speaker</p>
      <p>2W • 🌍</p>
    </div>
  </div>

  <img src="https://i.pinimg.com/736x/ef/c2/b1/efc2b1ef3c3b1b25fa95a4421d22736f.jpg" alt="Post image" class="post-image">

  <div class="post-text">
    💼 هل ترغب في تحويل فكرتك إلى مشروع ناجح؟!
    تعرف على كيفية بناء نموذج عمل قوي وتحقيق أهدافك في عالم ريادة الأعمال. 📈
    #ريادة_أعمال #تطوير
    <a class="see-more">See more</a>
  </div>
</div>
