.postimg {
  width: 50px;
}

.browse {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.browse.dragover {
  border-color: #007bff; /* تغيير لون الحدود عند السحب */
}

.custom-file-upload {
  color: #007bff;
}
/* داخل feed.component.css */
.categories-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.category-item {
  flex: 0 0 auto;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 120px;
}

.category-icon {
  margin-bottom: 10px;
}

.category-text {
  display: inline-block;
  white-space: pre-line;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}
#imagePreview img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.navigation-buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}

.navigation-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255, 0, 0, 0.7);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.9);
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  resize: none;
  border: none;
}

textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.list-group-item {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.emoji-picker-container {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Mobile Devices */
@media (max-width: 767px) {
  .modal-dialog {
    margin: 10px;
  }

  .modal-content {
    padding: 10px;
  }

  .modal-header, .modal-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-header .btn-close {
    margin-top: 10px;
  }

  .modal-body {
    padding: 10px;
  }

  .d-flex.align-items-center.mb-3 {
    flex-direction: column;
    align-items: flex-start;
  }

  .d-flex.align-items-center.mb-3 img {
    margin-bottom: 10px;
  }

  .position-relative {
    width: 100%;
  }

  .browse {
    width: 100%;
  }

  .navigation-buttons {
    justify-content: space-between;
  }
}
