body{
    background-color: #f1f3f6;
}

.top-main{
    border: 0;
    width: 750px;
text-align: center;
    height: 50px;
     background-color: #26408b;
}

.icon{
    width: 100%;
}

#tabl{
    border: 0;
    width: 100%;
    height: 200px;
    background-color: white;
    width: 760px;
}

.container{
    margin-left: 380px;
}
