<div class="container">
  <div class="leftside">
    <div class="header">
      <div class="userimg">
        <img src="/images/cute-girl-pic87.png" alt="" class="cover">
      </div>
    </div>
    <div class="search_chat">
      <div>
        <input type="text" placeholder="Search or start new chat">
      </div>
    </div>
    <div class="chatlist">
      <div *ngFor="let user of users" class="block" [class.active]="!user.unread" [class.unread]="user.unread">
        <div class="imgbx">
          <img [src]="user.image" alt="" class="cover">
        </div>
        <div class="details">
          <div class="listhead">
            <a style="text-decoration: none;" href="profile">
              <h6>{{ user.name }}</h6>
            </a>
            <p class="time">{{ user.time }}</p>
          </div>
          <div class="message_p">
            <p>{{ user.lastMessage }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rightside">
    <div class="header">
      <div class="imgtext">
        <div class="userimg">
          <img src="/images/img1.png" alt="" class="cover">
        </div>
        <a style="text-decoration: none; color: black;" routerLink="/profile/1">
          <h6>{{users[0].name}}<br><span></span></h6>
        </a>
      </div>
      <ul class="nav_icons">
        <li><img src="/images/imgg9.png" alt="" width="40px" height="30px"></li>
        <li><img src="/images/imgg3.png" alt="" width="20px" height="26px"></li>
      </ul>
    </div>
    <div class="chatbox">
      <div *ngFor="let msg of messages" class="message my_message">
        <p style="color: white;">{{ msg.text }} <br><span style="color: white;">{{ msg.time }}</span></p>
      </div>
    </div>
    <div class="chatbox_input">
      <button class="attach-button" (click)="toggleAttachmentMenu()">
        <img src="/images/imgg8.png" alt="Attach">
      </button>
      <div class="attachment-menu" [class.show]="isMenuVisible">
        <div class="attachment-option" (click)="attachDocument()">
          <img src="/images/doc.png" alt="Document">
          <span>Document</span>
        </div>
        <div class="attachment-option" (click)="openCamera()">
          <img src="/images/camera.png" alt="Camera">
          <span>Camera</span>
        </div>
        <div class="attachment-option" (click)="attachGallery()">
          <img src="/images/gallery.png" alt="Gallery">
          <span>Gallery</span>
        </div>
        <div class="attachment-option" (click)="attachAudio()">
          <img src="/images/audio.png" alt="Audio">
          <span>Audio</span>
        </div>
        <div class="attachment-option" (click)="attachLocation()">
          <img src="/images/loc.png" alt="Location">
          <span>Location</span>
        </div>
        <div class="attachment-option" (click)="attachContact()">
          <img src="/images/contacts.png" alt="Contact">
          <span>Contact</span>
        </div>
        <div class="attachment-option" (click)="createPoll()">
          <img src="/images/poll.png" alt="Poll">
          <span>Poll</span>
        </div>
      </div>
      <div class="chat-container">
        <div class="search-bar">
          <input style="width: 900px; border: none;" type="text" #messageInput placeholder="Type a message" />
          <img class="emoji-icon" src="/images/imgg5.png" alt="" width="40px" height="30px" (click)="toggleEmojiPicker()">
        </div>
        <div class="emoji-picker" *ngIf="showEmojiPicker">
          <div class="emoji" *ngFor="let emoji of emojis" (click)="addEmoji(emoji, messageInput)">
            {{ emoji }}
          </div>
        </div>
      </div>
      <button (click)="sendMessage(messageInput.value); messageInput.value = ''" style="color: #26408b; border: none; font-size: 30px;">
        >
      </button>
    </div>
  </div>
</div>
