<div class="container">
  <!-- الجانب الأيسر (قائمة الأشخاص) -->
  <div class="leftside">
    <div class="header">
      <div class="userimg">
        <img src="/images/cute-girl-pic87.png" alt="" class="cover">
      </div>
    </div>
    <div class="search_chat">
      <div>
        <input type="text" placeholder="Search or start new chat">
      </div>
    </div>
    <div class="chatlist">
      <!-- عرض قائمة الأشخاص -->
      <div *ngFor="let chat of chatList" class="block" [class.active]="selectedChat.id === chat.id" (click)="selectChat(chat)">
        <div class="imgbx">
          <img [src]="chat.image" alt="" class="cover">
        </div>
        <div class="details">
          <div class="listhead">
            <h4>{{ chat.name }}</h4>
            <p class="time">{{ chat.time }}</p>
          </div>
          <div class="message_p">
            <p>{{ chat.lastMessage }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- الجانب الأيمن (مشابه للصورة) -->
  <div class="rightside">
    <div class="header">
      <div class="imgtext d-flex align-items-center">
        <div class="userimg me-3">
          <img [src]="selectedChat.image" alt="" class="cover">
        </div>
        <div class="">
        <div class="">{{ selectedChat.name }} </div>
        <div class="fs-8">Online</div>
      </div>
      </div>
      <ul class="nav_icons">
        <li><i class="bi bi-search" style="font-size: 20px;"></i></li>
        <li><i class="bi bi-three-dots-vertical" style="font-size: 20px;"></i></li>
      </ul>
    </div>
    <div class="chatbox mb-5" #chatbox>
      <!-- عرض الرسائل -->
      <div *ngFor="let msg of messages" class="message my_message">
        <p style="color: white;">{{ msg.text }} <br><span style="color: white;">{{ msg.timestamp | date: 'shortTime' }}</span></p>
        <img *ngIf="msg.image" [src]="msg.image" alt="Attached Image" class="img-fluid mt-2">
      </div>
    </div>
    <div class="chatbox_input px-5">
          <input class="message-input w-100" type="text" #searchBar #messageInput placeholder="Type a message" (keydown.enter)="sendMessage(messageInput.value); messageInput.value = ''" />
          <div class="icons">
            <i class="bi bi-image gallery-button" style="font-size: 20px;" (click)="triggerFileInput()"></i>
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
            <i class="bi bi-emoji-smile emoji-icon" style="font-size: 20px;" (click)="toggleEmojiPicker()"></i>
        <div class="emoji-picker" *ngIf="showEmojiPicker">
          <emoji-mart (emojiSelect)="addEmoji($event)"></emoji-mart>
        </div>
    </div>
  </div>
</div>
