* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-container {
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 35px;
}
.search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  border: 2px solid #66F3E3;
  outline: none;
  font-size: 16px;
}
.activity-box {
  background: linear-gradient(90deg, #E084B7, #8BA4E3, #66F3E3);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  width: 60%;
  margin-bottom: 20px;
}
.activity-container, .stats-box, .reach-box {
  width: 60%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  text-align: left;
}
.activity-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.activity-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.reach-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}
.stat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.pie-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-chart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#E084B7 20.34%, #8BA4E3 0% 100%);
  margin: 20px auto;
  position: relative;
  margin-top: 50px;
  margin-left: 370px;
}
.chart-label {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-left:-420px ;
}
