<div class="container">
  <div class="search-container">
    <input type="text" placeholder="Search Your Activity" class="search-input">
  </div>
  <p class="activity-box">Your Activity</p>

  <div class="activity-container">
    <div class="activity-item">
        <img src="/images/profile2.jpg" alt="Profile">
        <p>Shahd posted a new post in her profile.</p>
    </div>
    <div class="activity-item">
        <img src="/images/pic4.jpg" alt="Profile">
        <p>Shahd commented on Sara's post.</p>
    </div>
    <div class="activity-item">
        <img src="/images/cat.jpg" alt="Profile">
        <p>Shahd reacted to Sara's post.</p>
    </div>
  </div>


  <p class="reach-title">📊 Reach in Last 30 Days</p>
  <div class="stats-box">
    <div class="stat-item">
        <span class="icon">📌</span>
        <span class="text">Posts</span>
        <span class="percentage">40.2%</span>
    </div>
    <div class="stat-item">
        <span class="icon">💬</span>
        <span class="text">Comments</span>
        <span class="percentage">30%</span>
    </div>
    <div class="stat-item">
        <span class="icon">❤️</span>
        <span class="text">Reactions</span>
        <span class="percentage">70.4%</span>
    </div>



  </div>
  <div class="pie-container">
  <div class="pie-chart"></div>
  <p class="chart-label">Customer: 20.34% | Marketer: 80.22%</p>
  </div>
</div>
