.leftside {
  width: 30%;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  height: 100vh;
  padding-left: 20px;
}

.sidebar {
  width: 250px;
}

.sidebar-line {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: .1px;
  background: rgb(191, 191, 191);
  border-radius: 2px;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #999999;
  transition: all 0.3s;
  align-items: center;
  gap: 8px;
  position: relative;
  text-decoration: none;
}

.nav-link .horizontal-line,
.nav-link .horizontal-line-hover {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 50%;
  background: linear-gradient(to bottom, #D16BA5, #86A8E7, #5FFBF1);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-link.active .horizontal-line {
  opacity: 1;
}

.nav-link:hover .horizontal-line-hover {
  opacity: 0.5;
}

.nav-link:hover {
  background: linear-gradient(to right, #D16BA5, #86A8E7, #5FFBF1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.3s;
  background-color: linear-gradient(to right, #D16BA5, #86A8E7, #5FFBF1);
}

.nav-link.active {
  font-weight: bold;
  background: linear-gradient(to right, #D16BA5, #86A8E7, #5FFBF1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 0.3s;
}

.nav-link span {
  font-size: 16px;
}

.nav-link:hover {
  background-color: #f8f9fa;
  border-radius: 5px;
}

.nav .bi {
  font-size: 20px;
}

.proimg {
  background: linear-gradient(45deg, #D16BA5, #86A8E7, #5FFBF1);
  z-index: -1;
}

/* Profile Sidebar */
.profile-sidebar {
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .leftside {
    display: none;
  }
  .sid{
    display: none;
  }


}
