
<div class="container">
  <h1>Our location</h1>
  <h4> "Let the map guide us to you – drop your pin!" 🌍</h4>

  <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTN0NTVobzB4eGJpNjYxdnMyYWM5bXN2bjVqcXE4OXZjMG5wZ2x6ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/LBEtGPanMR4bBFrof9/giphy.gif" alt="" class="image">
  </div>

<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d443.63787638120147!2d31.172891!3d27.184499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14450baeba73990d%3A0x7a66b40fe27089fd!2sIntegrated%20Technical%20Education%20Cluster%20ITEC%20Assiut!5e0!3m2!1sen!2seg!4v1744984997992!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
