
<div class="container">


    <table   class="top-main">
        <tr>



            <td class="name" style="width: 700px;"><a style="font-weight: 700; font-family: sans-serif; color: white; font-weight: bold; text-align: center;">Profile</a></td>
        </tr>
        </table>

        <table  id="tabl">
            <tr>
        <th style="height: 220px;"  ><a href="#" style="border-radius: 50%; float: right; margin-right: -85px;"><img  src="/images/img3.png" alt=""  style="width: 170px; height: 150px; border-radius: 50%; margin-right: 300px;">
        </a></th>
        <td><a href="#" style="float: left; margin-top: 70px; margin-right: 50px; "></a></td>
        </tr>
        </table>

        <table style="border: 0; width: 100%; height: 50px; width: 760px; background-color: white;" >
            <td style="width: 80px; "><a href="#"><img src="/images/first.png" alt="" style="width: 30px; height: 30px; float:top; margin-top: 40px; "></a></td>
        <td><a href="#" style="text-decoration: none;"><a style="font-size: 15px; text-decoration: none; color: black;">Name</a></a><br>
        <a style="font-size: 20px; font-weight: 500; font-family: sans-serif; ">Markter 3</a><br>
        <a style="font-size: 15px; ">This is not your user name. this Name will be visible to your whatsapp contacts.</a>
        <div class="bt-line" style="width: 100%; padding-bottom: 10px; border-bottom: 1px solid #ccc;">

        </div>
        </td>
        </table>

        <table style="border: 0; width: 100%; height: 50px; width: 760px; background-color: white;">
            <td style="width: 80px; "><a href="#"><img src="/images/second.png" alt="" style="width: 30px; height: 30px; float:top; margin-top: 20px; "></a></td>
        <td><a href="#" style="text-decoration: none;"><a style="font-size: 15px; text-decoration: none; color: black; ">About</a></a><br>
        <a style="font-size: 18px; font-weight: 500; font-family: sans-serif; ">Nothing about me!!</a><br>

        <div class="bt-line" style="width: 100%; padding-bottom: 10px; border-bottom: 1px solid #ccc;">

        </div>
        </td>
        </table>

        <table style="border: 0; width: 100%; height: 50px; width: 760px; background-color: white;">
            <td style="width: 80px; "><a href="#"><img src="/images/thi.png" alt="" style="width: 30px; height: 30px; float:top; margin-top: 20px; "></a></td>
        <td><a href="#" style="text-decoration: none;"><a style="font-size: 15px; text-decoration: none; color: black;">Phone</a></a><br>
        <a style="font-size: 18px; font-weight: 500; font-family: sans-serif; ">+201006547278</a><br>

        </td>
        </table>


</div>

