body {
  color: #ffffff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-link {
  font-size: 1.1rem;
}

.list-group-item {
  background-color: #222222;
  color: #ffffff;
  border: none;
}

.list-group-item:hover {
  background-color: #333333;
}
