*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body .container{
  width: 600px;
   text-align: center;
align-items: center;

}

 

.feedback-form{
    background: #fff;
    margin-top: 4%;
    margin-bottom: 5%;
}

.feedback-form .form-control{
    border-radius: 1rem;
}

.feedback-img{
    text-align: center;
}

.feedback-img img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.feedback-form form{
    padding: 5%;
}

.feedback-form form .row{
    margin-bottom: -7%;

}

.feedback-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

 .btnfeedback{
  padding: 1em 2em;
  background-color: #161a20;
  border: none;
  color: #f0f0f0;
  border-radius: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-left: 495px;
width: 300px;


}

.btnfeedback::after{
    content: '';
    position: absolute;
height: 107%;
width: 102%;
border-radius: 1000px;
background-image: linear-gradient(to bottom right, #008cff, #e100ff);
z-index: -1;
}
 .btnfeedback:hover{
    z-index: 0;

}


.feedback-form p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;

}

.rating {
    display: flex; /* عرض النجوم في صف واحد */
    cursor: pointer; /* تغيير مؤشر الماوس إلى اليد */
    font-size: 2rem; /* حجم النجوم */
  }

  .rating span {
    margin: 0 5px;
    transition: color 0.2s; /* تأثير ناعم لتغيير اللون */
  }



  
/* Media Queries for Mobile Devices */

  
 