

<div class="container">
    <div class="leftside">
        <div class="header">
            <div class="userimg">


                    <img src="/images/cute-girl-pic87.png" alt="" class="cover">

            </div>






        </div>



        <div class="search_chat">
            <div>
                <input type="text"  placeholder="search or start new chat">

            </div>
        </div>
        <div class="chatlist">
            <div class="block active">
                <div class="imgbx">
                    <img src="/images/img1.png" alt="" class="cover">

                </div>
                <div class="details">
<div class="listhead">
    <a style="text-decoration: none;" href="main"   routerlink="main">
        <h4 >Markter 1</h4>

                            </a>
                        <p class="time">10:56</p>
                    </div>




                    <div class="message_p">
                        <p>okay</p>
                    </div>
                </div>

            </div>

            <div class="block unread">
                <div class="imgbx">
                    <img src="/images/img2.png" alt="" class="cover">

                </div>
                <div class="details">
                    <div class="listhead">

                        <a style="text-decoration: none;" href="first"   routerlink="first">
                            <h4 >Markter 2</h4>

                            </a>
                        <p class="time">09:25</p>
                    </div>
                    <div class="message_p">
                        <p>hi asmaa , how are you</p>

                    </div>
                </div>

            </div>



            <div class="block unread">
                <div class="imgbx">
                    <img src="/images/img3.png" alt="" class="cover">

                </div>
                <div class="details">
                    <div class="listhead">
                        <a style="text-decoration: none;" href="second"   routerlink="second">
                            <h4 >Markter 3</h4>

                            </a>
                        <p class="time">02:00</p>
                    </div>
                    <div class="message_p">
                        <p>hello asmaa</p>

                    </div>
                </div>

            </div>



            <div class="block active">
                <div class="imgbx">
                    <img src="/images/img10.png" alt="" class="cover">

                </div>
                <div class="details">
                    <div class="listhead">
                        <a style="text-decoration: none;" href="third"   routerlink="third">
                            <h4 >Markter 4</h4>

                            </a>
                        <p class="time">06:20</p>
                    </div>
                    <div class="message_p">
                        <p>ok asmaa thank you</p>

                    </div>
                </div>

            </div>




            <div class="block active">
                <div class="imgbx">

                    <img src="/images/img9.png" alt="" class="cover">
                </div>
                <div class="details">
                    <div class="listhead">
                        <a style="text-decoration: none;" href="four"   routerlink="four">
                            <h4 >Markter 5</h4>

                            </a>
                        <p class="time">12:28</p>
                    </div>
                    <div class="message_p">
                        <p>send the project</p>

                    </div>
                </div>

            </div>



            <div class="block active">
                <div class="imgbx">
                    <img src="/images/img4.png" alt="" class="cover">
                </div>
                <div class="details">
                    <div class="listhead">
                        <a style="text-decoration: none;" href="five"   routerlink="five">
                            <h4 >Markter 6</h4>

                            </a>
                        <p class="time">11:17</p>
                    </div>
                    <div class="message_p">
                        <p>happy birthday asmaa i wish you a year full of happiness and success</p>

                    </div>
                </div>

            </div>




            <div class="block active">
                <div class="imgbx">
                    <img src="/images/img5.png" alt="" class="cover">

                </div>
                <div class="details">
                    <div class="listhead">
                        <a style="text-decoration: none;" href="six"   routerlink="six">
                            <h4 >Markter 7</h4>

                            </a>
                        <p class="time">07:12</p>
                    </div>
                    <div class="message_p">
                        <p>okay</p>

                    </div>
                </div>

            </div>




            <div class="block unread">
                <div class="imgbx">
                    <img src="/images/img6.png" alt="" class="cover">

                </div>
                <div class="details">
                    <div class="listhead">
                        <a style="text-decoration: none;" href="siven"   routerlink="siven">
                            <h4 >Markter 8</h4>

                            </a>
                        <p class="time">yesterday</p>
                    </div>
                    <div class="message_p">
                        <p>please noooooo</p>

                    </div>
                </div>

            </div>




            <div class="block active">
                <div class="imgbx">
                    <img src="/images/img7.png" alt="" class="cover">

                </div>
                <div class="details">
                    <div class="listhead">
                        <a style="text-decoration: none;" href="nine"   routerlink="nine">
                            <h4 >Markter 9</h4>

                            </a>
                        <p class="time">yesterday</p>
                    </div>
                    <div class="message_p">
                        <p>hello my sister how are you</p>

                    </div>
                </div>

            </div>



            <div class="block active">
                <div class="imgbx">
                    <img src="/images/img8.png" alt="" class="cover">

                </div>
                <div class="details">
                    <div class="listhead">
                        <a style="text-decoration: none;" href="tin"   routerlink="tin">
                            <h4 >Markter 10</h4>

                            </a>
                        <p class="time">Mondey</p>
                    </div>
                    <div class="message_p">
                        <p>whare are you asmaa</p>

                    </div>
                </div>

            </div>



        </div>
    </div>
    <div class="rightside">
        <div class="header">
          <div class="imgtext">
            <div class="userimg">
                <img src="/images/img5.png" alt="" class="cover">

            </div>
            <a style="text-decoration: none ; color: black;"  href="sivenprofile"   routerlink="sivenprofile">
                <h4>Markter 7<br><span>Online</span></h4>
                                   </a>
          </div>


          <ul class="nav_icons">
            <li><img src="/images/imgg9.png" alt="" width="40px" height="30px"></li>

            <li><img src="/images/imgg3.png" alt="" width="20px" height="26px"></li>
                            </ul>

        </div>


        <div class="chatbox">







            <!-- عرض الرسائل المخزنة في المصفوفة -->
            <div *ngFor="let msg of messages" class="message my_message">
              <p style="color: white;">{{ msg }} <br><span style="color: white;">12:19</span></p>
            </div>
          </div>

          <div class="chatbox_input">

            <button class="attach-button" (click)="toggleAttachmentMenu()">
                <img src="/images/imgg8.png" alt="Attach" >
              </button>



              <div class="attachment-menu" [class.show]="isMenuVisible">
                <div class="attachment-option" (click)="attachDocument()">
                  <img src="/images/doc.png" alt="Document">
                  <span>Document</span>
                </div>
                <div class="attachment-option" (click)="openCamera()">
                  <img src="/images/camera.png" alt="Camera">
                  <span>Camera</span>
                </div>
                <div class="attachment-option" (click)="attachGallery()">
                  <img src="/images/gallery.png" alt="Gallery">
                  <span>Gallery</span>
                </div>
                <br>
                <br>
                <div class="attachment-option" (click)="attachAudio()">
                  <img src="/images/audio.png" alt="Audio">
                  <span>Audio</span>
                </div>
                <div class="attachment-option" (click)="attachLocation()">
                  <img src="/images/loc.png" alt="Location">
                  <span>Location</span>
                </div>
                <div class="attachment-option" (click)="attachContact()">
                  <img src="/images/contacts.png" alt="Contact">
                  <span>Contact</span>
                </div>
                <div class="attachment-option" (click)="createPoll()">
                  <img src="/images/poll.png" alt="Poll">
                  <span>Poll</span>
                </div>
              </div>


            <!-- إدخال النص -->
            <div class="chat-container">
                <div class="search-bar">
                   <input style="width: 900px; border: none;" type="text" #searchBar #messageInput placeholder="Type a message" />
            <img class="emoji-icon" src="/images/imgg5.png" alt="" width="40px" height="30px" (click)="toggleEmojiPicker()">


                </div>

                <div class="emoji-picker" *ngIf="showEmojiPicker">
                  <div
                    class="emoji"
                    *ngFor="let emoji of emojis"
                    (click)="addEmoji(emoji, searchBar)"
                  >
                    {{ emoji }}
                  </div>
                </div>
              </div>

            <!-- الزر لإرسال الرسالة -->
            <button
            (click)="sendMessage(messageInput.value); messageInput.value = ''"
            style="color: #26408b; border: none; font-size: 30px;">
            >
          </button>


          </div>



    </div>

    <div >


    </div>



        </div>







