<div class="reviews-container">
  <div *ngFor="let review of reviews" class="review-box">
    <h4>{{ review.username || 'Shahd' }}</h4>
    <div class="stars">
      <ng-container *ngFor="let star of [].constructor(5); let i = index">
        <span [ngClass]="{ 'filled': i < review.rating }">&#9733;</span>
      </ng-container>
    </div>
    <p>{{ review.comment }}</p>
  </div>

  <hr>

  <h3>Write a New Review</h3>

  <div class="review-form">
    <div class="stars">
      <ng-container *ngFor="let star of [].constructor(5); let i = index">
        <span
          (mouseover)="hoverStar(i + 1)"
          (mouseout)="resetStars()"
          (click)="setRating(i + 1)"
          [ngClass]="{ 'filled': i < newReview.rating }"
          style="cursor: pointer;"
        >
          &#9733;
        </span>
      </ng-container>
    </div>

    <textarea [(ngModel)]="newReview.comment" placeholder="Write Your Review..."></textarea>
    <br>
    <button (click)="submitReview()">Send!</button>
  </div>
</div>
